.bm-item {
  display: flex;
  padding: 7px;
  background-color: #F7F8FA;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}
.bm-left {
  width: 50px;
}
.bm-quantity {
  background-color: #EAEAEC;
  padding: 9px;
  text-align: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding-top: 14px;
  color: #0075ff;
}
.bm-center {
  width: calc(100% - 50px - 36px);
}
.bm-right {
  width: 36px;
  position: relative;
}
.bm-right .category-action {
  width: 36px;
}
.bm-right .view-info {
  position: absolute;
  bottom: -4px;
  right: -5px;
  width: 100px;
  font-size: 12px;
  cursor: pointer;
  background-color: #4c8b1a;
  color: white;
  padding: 4px 11px 5px 11px;
  border-radius: 14px;
  font-weight: 700;
  text-align: center;
}
.bm-right .icon-info {
  font-size: 13px;
}
.icon-info {
  cursor: pointer !important;
}
.category-action {
  background-color: #91afc9;
  padding: 9px 9px 5px 7px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
.category-action.anticon {
  padding: 9px 9px 2px 7px;
}
.table-accounts th,
.table-accounts td {
  padding: 8px !important;
}
.table-intro {
  font-size: 17px;
  margin-bottom: 8px;
  color: white;
  padding: 7px 14px;
  font-weight: 500;
}
.table-intro img {
  display: inline-block;
  height: 25px;
}
.td-category-name {
  position: relative;
}
.td-category-name span:first-child {
  color: #0665d0;
}
.td-category-name .icon-info {
  position: absolute;
  bottom: 0;
  right: 1px;
  font-size: 13px;
  padding: 7px 3px;
}
.via_quantity {
  font-size: 15px;
  border-radius: 16px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.number_good {
  background: #E9F9E8;
  color: #1ac317;
}
.number_almost_over {
  background-color: #eee;
  color: #686868;
}
.number_out_of_stock {
  background-color: #f9ece8;
  color: #d94242;
}
.origin-price {
  text-decoration: line-through;
}
.discount-price {
  font-weight: 600;
  color: tomato;
}
.info-card-header {
  padding: 0.75rem 1.25rem !important;
  font-size: 15px;
  margin-bottom: 8px;
  background: #d262e3 linear-gradient(135deg,#d262e3 0,#0665d0 100%)!important;
  color: white;
}
.history-item {
  font-weight: 500;
  margin-bottom: .5rem;
  border-left: 1px solid #82b54b;
  padding: 8px 16px;
  background-color: #f8f9fc;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.history-item .right {
  float: right;
}
.history-item .right span {
  display: inline-block;
  padding: 0 4px;
  font-size: 80%;
  font-weight: 600;
}
.text-1 {
  color: green;
}
.text-2 {
  color: red;
}
.right .badge-primary {
  background-color: #3c90df;
}
.area-history .card-body {
  padding: 1.25rem 1.25rem 1px;
}
.table-accounts th {
  color: white !important;
  background-color: #2E3338;
}
.table-accounts tr:nth-child(even) {
  background-color: #E4EEFA !important;
}
.category-quantity {
  padding: 5px 4px 4px 4px;
  background-color: #8ccf62;
  border-radius: 6px;
  font-weight: 600;
  color: white;
  font-size: 90%;
  white-space: nowrap;
}
.col-description {
  width: auto;
}
.table-intro-bm {
  background: linear-gradient(to right, #772061, #C03A4F);
}
.category-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.table-accounts {
  width: 100%;
  table-layout: fixed;
}
.text-no-data {
  padding-bottom: 10px;
  text-align: center;
}
.category-content {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.pinned_blog {
  width: 100%;
  display: block;
  background-color: #E2EED7;
  padding: 8px 12px;
  font-size: 12px;
  margin-bottom: 14px;
}
.pinned_blog .anticon {
  font-size: 14px;
  color: #292C12;
}
.pinned_blog .anticon + span {
  font-size: 12px;
  font-weight: 700;
  color: #292C12;
}
[data-toggle="collapse"] {
  cursor: pointer;
}
.table-responsive {
  margin-bottom: 0;
}
tbody.collapsing {
  display: none !important;
}
@media (min-width: 1401px) {
  .col-category-name {
    width: 400px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .col-category-name {
    width: 300px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .col-category-name {
    width: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .col-category-name {
    width: 150px;
  }
}
@media screen and (max-width: 991px) {
  .area-history {
    margin: 0
  }
  .area-history .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 500px) {
  .table-accounts th, .table-accounts td {
    padding: 4px !important;
  }
}


